{% extends 'main/layout.twig' %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading panel-title">
		  <span class="icon-{{ game.alias }}" title="[{{ game.name }}] {{ title }}">{{ comic.name_ru }}{% if comic.name_en %} <small>({{ comic.name_en }})</small>{% endif %}</span>
		</div>
	  	<div class="panel-body breadcrumbs">
	  		<ol class="breadcrumb">
	  			<li><a href="{{ path_for('main.index') }}">{{ site_name }}</a></li>
	  			<li><a href="{{ path_for('main.comics') }}">{{ comics_title }}</a></li>
	  			<li class="active">{{ comic.name_ru }}</li>
			</ol>
		</div>
	  	<div class="panel-body">
			{% if comic.publisher %}
	  			<p><b>Издательство:</b> <a href="{{ comic.publisher.website }}">{{ comic.publisher.name }}</a></p>
			{% endif %}
			{% if comic.issued_on %}
	  			<p><b>Дата выхода:</b> {{ comic.issued_on }}</p>
			{% endif %}
			{% if comic.description %}
	  			<p>{{ comic.description|raw }}</p>
			{% endif %}
			<div class="flex-wrapper comics-issue">
				{% for p in pages %}
					<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
						<a href="{{ p.page_url }}" title="{{ p.number_str }}">
							<img src="{{ p.thumb }}" class="card-image" />
							<span class="overlay">{{ p.number_str }}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
