<!DOCTYPE html>
<html lang="ru">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
			<title>{% if title %}{{ title }} - {% endif %}{{ admin_title }} - {{ site_name }}</title>
		
			<!-- coded by Sergey Atroshchenko (kapxapot) / gmail / com (c) 2016—{{ 'now'|date('Y') }} -->
		
			<base href="{{ path_for('admin.index') }}/">
		
			<link href="{{ folders.lib }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		    
	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
			
			{% block head_appendix %}{% endblock %}

			{# local CSS in the end to override all #}
			<link href="{{ folders.public }}warcry.css" rel="stylesheet">
		{% endblock %}
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<div class="container" ng-cloak>
			{% include 'includes/nav.twig' %}

			{% if title %}
				<h4>
					{{ title }}
					{% block title_appendix %}{% endblock %}
				</h4>
			{% endif %}

			{% if breadcrumbs %}
  				<ol class="breadcrumb">
					{% for bc in breadcrumbs %}
						<li>{% if bc.link %}<a href="{{ bc.link }}">{{ bc.text }}</a>{% else %}{{ bc.text }}{% endif %}</li>
					{% endfor %}
				</ol>
			{% endif %}

			<div class="alert alert-success alert-dismissable fade in">
				<a href="javascript:void()" class="close" data-hide="alert" aria-label="close">&times;</a>
				{{ '{{alertSuccess}}' }}
			</div>
			
			{% if auth.user %}
				{% include 'modals/auth/password/change.twig' %}
			{% else %}
				{% include 'modals/auth/signup.twig' %}
				{% include 'modals/auth/signin.twig' %}
			{% endif %}

			<div class="row data-table">
				<div class="col-md-12 col-xs-12">
					{% block content %}{% endblock %}
				</div>
			</div>
			
			<script>
				var app = angular.module('myApp', [{% block angular_modules %}{% endblock %}]);
				
				{# для alert'ов #}
				app.filter('rawHtml', ['$sce', function($sce){
					return function(val) {
						return $sce.trustAsHtml(val);
					};
				}]);

				{% block angular_filters %}{% endblock %}					

				app.controller('myCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
					$scope.loading = false;
					
					{% if not auth.user %}
						$scope.captcha = 'загрузка...';
					{% endif %}
					
					$scope.prePost = function(e) {
						e.preventDefault();
						
						$scope.alertError = null;
						$scope.alertSuccess = null;
						
						hideAlerts();

						$scope.loading = true;
					}
				
					if (hasToken()) {
						{# for datatables #}
						$.ajaxSetup({
							headers: getHeaders()
						});
						
						{# for AngularJS Ajax #}
						$http.defaults.headers.common = getHeaders();
					}

					$scope.ajax = function(config) {
						if (!config.method) {
							config.method = 'post';
						}
						
						var result = $http(config).then(function(response) {
							var data = response.data;
							if (data.error) {
								$scope.alertError = data.message;

								showAlertError();

								if (config.onError) {
									config.onError(data);
								}
							}
							else {
								if (config.view) {
				      				$('#' + config.view +'View').modal('hide');
								}

								if (!config.noSuccessMessage) {
									var message = 'Данные успешно сохранены.';
									if (data.message) {
										message = data.message;
									}
									else if (config.message) {
										message = config.message;
									}
	
									$scope.alertSuccess = message;
									showAlertSuccess();
								}

								if (config.onSuccess) {
									config.onSuccess(data);
								}
							}
	
							$scope.loading = false;
						}, function(response) {
							var data = response.data;
							if (data.error) {
								$scope.alertError = data.message;
							}
							else {
								$scope.alertError = response.status + ' ' + response.statusText;
							}
							
							showAlertError();

							$scope.loading = false;

							if (config.onError) {
								config.onError(data);
							}
						});
					}
					
					{% if not auth.user %}
						$scope.refreshCaptcha = function() {
							$http.get('/api/v1/captcha').success(function(data) {
								$scope.captcha = data['captcha'];
								$('#signUpForm').find('#captcha').val(null)
							});
						}
						
						$scope.signUp = function() {
							$scope.refreshCaptcha();
	
							showModal('signUp');
						}
						
						$scope.signIn = function() {
							showModal('signIn');
						}
						
						$scope.switchFromTo = function(from, to) {
							hideModal(from);
							
							if (to == 'signIn') {
								$scope.signIn();
							}
							else if (to == 'signUp') {
								$scope.signUp();
							}
						}

						$('#signUpForm').submit(function(e) {
							$scope.prePost(e);
	
					    	var obj = {
					    		login: $('#signUpForm').find('#login').val(),
					    		name: $('#signUpForm').find('#name').val(),
					    		email: $('#signUpForm').find('#email').val(),
					    		password: $('#signUpForm').find('#password').val(),
					    		captcha: $('#signUpForm').find('#captcha').val(),
					    	};
	
					    	$scope.ajax({
					    		url: '{{ path_for('auth.signup') }}',
					    		data: obj,
					    		view: 'signUp',
					    		onSuccess: signedIn,
					    		noSuccessMessage: true,
					    		onError: $scope.refreshCaptcha
					    	});
					    });
	
						$('#signInForm').submit(function(e) {
							$scope.prePost(e);
							
					    	var obj = {
					    		login: $('#signInForm').find('#login').val(),
					    		password: $('#signInForm').find('#password').val(),
					    	};
	
					    	$scope.ajax({
					    		url: '{{ path_for('auth.signin') }}',
					    		data: obj,
					    		view: 'signIn',
					    		onSuccess: signedIn,
					    		noSuccessMessage: true,
					    		onError: function() {
					    			$('#signInForm').find('#password').val(null);
					    		}
					    	});
					    });
					    
					    focusOnModals();
					    
					    {% if not no_popup %}
					    	$scope.signIn();
					    {% endif %}
					{% else %}
						$scope.passwordChange = function() {
							showModal('passwordChange');
						}
	
						$('#passwordChangeForm').submit(function(e) {
							$scope.prePost(e);
							
					    	var obj = {
					    		password_old: $('#passwordChangeForm').find('#password_old').val(),
					    		password: $('#passwordChangeForm').find('#password').val(),
					    	};
	
					    	$scope.ajax({
					    		url: '{{ path_for('auth.password.change') }}',
					    		data: obj,
					    		view: 'passwordChange'
					    	});
						});
					{% endif %}

					{% block angular %}{% endblock %}
				}]);
			</script>

			<div class="footer">&copy; 2016—{{ 'now'|date('Y') }} <a href="//kapxapot.ru">kapxapot</a></div>
		</div>

		{% block js %}
    		<script src="{{ folders.lib }}bootstrap/js/bootstrap.min.js"></script>

    		{% block js_appendix %}{% endblock %}
    		
		    <script src="{{ folders.public }}warcry.js"></script>
		{% endblock %}
	</body>
</html>
