{% extends 'main/layout.twig' %}

{% set no_disqus = true %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading panel-title">
			<header class="icon-{{ game.alias }}" title="[{{ game.name }}] {{ title }}">{{ title }}</header>
		</div>
	  	<div class="panel-body breadcrumbs">
	  		<ol class="breadcrumb">
	  			<li><a href="/">{{ site_name }}</a></li>
	  			{% if not game.default %}<li><a href="{{ game.url }}">{{ game.name }}</a></li>{% endif %}
	  			<li class="active">{{ title }}</li>
			</ol>
		</div>
		{% if years %}
			{#<div class="panel-body linkblock-big">
				{% for y in years %}
					<div class="noicon">
						<b><a href="{{ path_for('main.news.archive.year', { 'year': y }) }}">{{ y }} год</a></b>
					</div>
				{% endfor %}
			</div>#}
			<div class="panel-body">
				{% for y in years %}
					<a class="label label-default" href="{{ path_for('main.news.archive.year', { 'year': y }) }}">{{ y }} год</a>
				{% endfor %}
			</div>
		{% else %}
			<div class="panel-body">
				Архив пуст.
			</div>
		{% endif %}
	</div>
{% endblock %}
