{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}

{% set index = true %}
{% set no_disqus = true %}
{% set no_social = true %}

{% block content %}
	<div id="news-index">
		{% if news %}
			{% for news_item in news %}
				<div class="panel panel-primary">
					<div class="panel-heading panel-title">
						<header class="icon-{{ news_item.game.alias }}">
							<a href="{{ path_for('main.news', { 'id': news_item.id }) }}" title="[{{ news_item.game.name }}] {{ news_item.title|raw }}">{{ news_item.title|raw }}</a>
						</header>
						<div class="panel-title-buttons">
							{{ m.edit_button('news', news_item.id, news_item.access.edit) }}
						</div>
					</div>
				    {% include 'main/news/bodyfooter.twig' %}
				</div>
			{% endfor %}
		{% else %}
			<div>По заданным параметрам новости не найдены.</div>
		{% endif %}
		
		{% if paging %}
			<div id="news-pagination">
				{% include 'main/includes/paging.twig' %}
			</div>
		{% endif %}

		{#<div class="all-news">
			<a class="btn btn-lg btn-default btn-block" href="{{ path_for('main.news.archive') }}" role="button">Архив новостей &raquo;&raquo;</a>
		</div>#}
	</div>
{% endblock %}
