{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading panel-title">
			<header class="icon-{{ game.alias }}" title="[{{ game.name }}] {{ title }}">{{ article.name_ru }}{% if not article.published_at %} <u>Не опубликована!</u>{% endif %}{% if not article.hideeng %} <small>({{ article.name_en }})</small>{% endif %}</header>
			<div class="panel-title-buttons">
				{{ m.edit_button('articles', article.id, article.access.edit) }}
			</div>
		</div>
	  	<div class="panel-body breadcrumbs">
	  		<ol class="breadcrumb">
	  			<li><a href="{{ path_for('main.index') }}">{{ site_name }}</a></li>
	  			{% if not game.default %}<li><a href="{{ game.url }}">{{ game.name }}</a></li>{% endif %}
	  			{% for b in article.breadcrumbs %}
	  				<li><a class="nd_article" title="{{ b.title_en }}" href="{{ b.url }}">{{ b.title }}</a></li>
	  			{% endfor %}
	  			<li class="active">{{ article.name_ru }}</li>
			</ol>
		</div>
		{% if article.sub_articles %}
		  	<div class="panel-body sub-articles">
		  		{% for link in article.sub_articles %}
		  			<a class="label label-default" title="{{ link.title_en }}" href="{{ link.url }}">{{ link.title }}</a>
		  		{% endfor %}
			</div>
		{% endif %}
		{% if article.contents %}
			<div class="panel-body contents">
  				<div class="contents-header">Содержание:</div>
  				<div class="contents-body">
  					{% for link in article.contents %}
  						{{ link|raw }}
  					{% endfor %}
  				</div>
			</div>
		{% endif %}
	  	<div class="panel-body" id="article">
	    	{{ article.text|raw }}
	    </div>
	    <div class="panel-footer">
	    	{% if article.author %}
	    		<div class="glyphicon-block"><span class="glyphicon glyphicon-user" aria-hidden="true" title="Автор"></span> {% if article.author.member_url %}<a href="{{ article.author.member_url }}">{{ article.author.name }}</a>{% else %}{{ article.author.name }}{% endif %}</div>
	    	{% endif %}
	    	<div class="glyphicon-block"><span class="glyphicon glyphicon-time" aria-hidden="true" title="Дата публикации"></span> {% if article.published_at %}{{ article.published_at|raw }}{% else %}Не опубликована!{% endif %}</div>
	    	{% if article.editor %}
	    		<div class="glyphicon-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Редактор"></span> {% if article.editor.member_url %}<a href="{{ article.editor.member_url }}">{{ article.editor.name }}</a>{% else %}{{ article.editor.name }}{% endif %}</div>
	    	{% endif %}
	    	{% if article.updated_at %}
	    		<div class="glyphicon-block"><span class="glyphicon glyphicon-time" aria-hidden="true" title="Дата редакции"></span> {{ article.updated_at|raw }}</div>
	    	{% endif %}
	    	{% if article.origin %}
	    		<div class="glyphicon-block"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true" title="Источник"></span> <a href="{{ article.origin }}">Источник</a></div>
	    	{% endif %}
	    </div>
	</div>
{% endblock %}
